#contact{
    background:#9dc88dca;
    padding-bottom: 20px;
    & .btn{
        padding: 8px 30px;
        color: #f1b24a;
        background:#4d774e ;
        font-weight: 300;
        font-size: 20px;
    }
}