.carousel-inner {
 overflow: hidden;

  & .carousel-item {
    width: 100%;
    margin: 0;
    padding: 0;
    & img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
}

.carousel-caption {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
  padding: 20px;
  & h1{
    color:#f1b24a;
    font-size: 4rem;
      }
  & .btn{
    font-family: "vazir";
    font-weight: 500;
    font-size: 20px;
    padding:  10px 30px;
    color: #fff;
    &:hover{
      color: #f1b24a;
    }
  }
}
